---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

      <div class="post-meta">
        <i class="svg-icon category-32"></i>
        <a href="#" class="read-more"> {% if post.categories %}{{ post.categories }}{% endif %} </a>
      </div>
    </article>
  {% endfor %}
</div>